@include test-module('Generator of attributes') {	
	@include test('gen-attributes() [mixin]') {
		@include assert('Should output the appropriate styles') {
			@include input {
				$base: (
					background-color: red,
					margin: 0
				)!default;
				html {
					@include gen-attributes($base);
				}
			}
			@include expect {
				html {
					background-color: red;
					margin: 0;
				}
			}
		}	
		@include assert('Should output the appropriate styles with several declarations') {
			@include input {
				$base: (
					font-size: 1.3rem,
					margin: 0
				)!default;
				$theme: (
					background-color: red,
					color: green
				)!default;
				html {
					@include gen-attributes($base, $theme);
				}
			}
			@include expect {
				html {
					font-size: 1.3rem;
					margin: 0;
					background-color: red;
					color: green;
				}
			}
		}			
	}	
}